bitarray==3.11.0
bitstring==4.4.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cryptography==50.0.1
esptool==5.2.0
idna==3.19
intelhex==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
pillow==12.3.0
pycparser==3.0
pygments==2.21.0
pyserial==3.5
pyyaml==6.0.3
reedsolo==1.7.0
requests==2.32.5
rich==15.0.0
rich-click==1.9.9
tibs==0.5.7
urllib3==2.8.0
